@import 'animate';
@tailwind preflight;
@import url("https://use.typekit.net/alp4joy.css");


body,html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  @apply bg-primary-dark;
}

* {
}

.g-radient {
  background-image: linear-gradient(-125deg, #3C484D 0%, #546E7A 100%);
}

/**
 * Here you would import any custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities can still
 * override them.
 *ç
 * @import "my-components/foo";
 * @import "my-components/bar";
 */
#me-img {
  width: 80px;
  height: 80px;
}

header.m-header {
}

 .rslab {
   font-family: 'Roboto Slab', serif !important;
 }

 .bg-gradi-skillbar {
  background-image: linear-gradient(-179deg, #FA8331 0%, #FFAF54 100%);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.10);
 }

.has-avatar {
  background-image: url(../img/me_avatar.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 250px 250px;
 }
.btn-blue {
  @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
  @apply .bg-secondary-dark;
}

.textured {
  background-color: #546e7a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.11' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.nav a.active, .nav a:hover {
  @apply bg-primary-darker text-white;
}

.avatar-image {
  width: 80px;
  height: 80px;
}

#logo-svg {
  // animation-name: rotateLogo;
  // animation-duration: 5s;
}

.portfolio-image {
  width: 320px;
  height: auto;
}
.avatar-sm {
  width: 48px;
  height: 48px;
}

.conf-bg {
  background: url(../../../public/img/conf.png) repeat;
}

.project-type-choice {
  @apply .no-underline .text-grey-darker .border-2 .block .rounded .bg-white .px-4 .py-2;
  &:hover, &.active {
    @apply .bg-secondary .text-white .border-secondary-light;
  }
}
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

.bg-primary-darker {
  background-color: darken(#28444e, 8%);
}
.bg-primary-darkest {
  background-color: darken(#28444e, 16%);
}

#where-map {
  width:100%;
  height:450px;

  @screen lg {
    width:480px;
    height:361px;
  }
  @screen xl {
    width:580px;
    height:436px;
  }
}

.work-item-content {
  @apply leading-normal;
  p {
    @apply mb-6 leading-normal;
  }
  blockquote {
    @apply p-8 bg-grey-lighter mb-6 text-primary italic;
    p:last-of-type {
      @apply mb-0;
    }
  }
  img {
    @apply block shadow-md rounded;
  }
  pre {
    @apply mb-6;
  }
  h2,h3,h4 {
    @apply mb-6;
  }
  a, a:visited, a:active {
    @apply text-secondary-light;
  }
  ul {
    @apply .p-0 .border .bg-white rounded;

    li {
      @apply .p-3 .border-b .leading-normal;
      list-style-type:none;

      &:last-of-type {
        @apply .border-b-0;
      }
      // list-style-position: inside;
    }
  }
}

.post-content, .work-content {

  @apply .text-grey-darker;

  a {
    @apply .text-grey-darkest;
  }

  p {
    @apply .mb-6 .leading-normal;
  }

  ul li {
    @apply leading-normal mb-2;

  }

  h1,h2,h3,h4,h5,h6 {
    @apply .mb-6 .text-lg ;
  }

  blockquote {
    @apply .bg-grey-lighter .p-4 .border-l-2 .border-grey-dark .mb-6;

    p {
      @apply .mb-0;
    }
  }

  iframe {
    @apply .mb-6;
  }

  pre {
    @apply .mb-6;

    code {
      @apply .rounded .p-4;
    }
  }
}

.field-error {
 box-shadow: 1px 1px 5px 0px rgba(red, .25);
}

html {
  background: white;
  @apply font-sans;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply .bg-grey;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


@keyframes rotateLogo {
    0%  {transform: rotate(0deg); }
    100%  {transform: rotate(120deg); }
}